
<div class="container mt-3">
    <h1>Salas de cine</h1>
    <a class="btn btn-primary btn-block btn-lg my-3" type="button" href="/salas/crear">
        Crear Sala
    </a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"># Sala </th>
                <th scope="col">Pelicula</th>
                <th scope="col">Numero sillas</th>
                {{!-- <th scope="col">No</th> --}}
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each salas}}
            <tr>
                <th>{{ numeroSala }}</th>
                <td>{{ pelicula }}</td>
                <td>{{ numeroSillas }}</td>
                <td>
                    <a type="button" class="btn btn-warning" href="/salas/edit/{{id}}">Editar</a>
                    <form action="/salas/delete/{{id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
